[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.12"
